In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("Deutschland_Cities.csv")

In [3]:
data

,city,lat,lng,country,iso2,admin_name,capital,population,population_proper
0,Berlin,52.5167,13.3833,Germany,DE,Berlin,primary,3644826.0,3644826.0
1,Hamburg,53.5500,10.0000,Germany,DE,Hamburg,admin,1841179.0,1841179.0
2,Munich,48.1372,11.5755,Germany,DE,Bavaria,admin,1471508.0,1471508.0
3,Cologne,50.9422,6.9578,Germany,DE,North Rhine-Westphalia,NaN,1085664.0,1085664.0
4,Frankfurt,50.1136,8.6797,Germany,DE,Hesse,minor,753056.0,753056.0
...,...,...,...,...,...,...,...,...,...
607,Rotenburg,53.0851,9.3879,Germany,DE,Lower Saxony,minor,NaN,NaN
608,Karlstadt,49.9603,9.7724,Germany,DE,Bavaria,minor,NaN,NaN
609,Neustadt,49.5656,8.8437,Germany,DE,Hesse,minor,NaN,NaN
610,Homberg,51.0299,9.4026,Germany,DE,Hesse,minor,NaN,NaN
611,Garmisch-Partenkirchen,47.4985,11.1044,Germany,DE,Bavaria,minor,NaN,NaN

In [4]:
capital=["Primary","Admin","Minor"]
cities=["Berlin","Hamburg","Hesse"]

In [5]:
admin_name={"Primary":"Berlin","Admin":"Hamburg","Minor":"Hesse"}

In [6]:
print(admin_name)

{'Primary': 'Berlin', 'Admin': 'Hamburg', 'Minor': 'Hesse'}

In [7]:
print(admin_name.keys())

dict_keys(['Primary', 'Admin', 'Minor'])

In [8]:
print(admin_name["Minor"])

Hesse

In [9]:
admin_name["NaN"]="North Rhine-Westphalia"

In [10]:
print("NaN" in admin_name)

True

In [11]:
print(admin_name)

{'Primary': 'Berlin', 'Admin': 'Hamburg', 'Minor': 'Hesse', 'NaN': 'North Rhine-Westphalia'}

In [12]:
my_dict={"capital":["Primary","Admin"],"city":["Berlin","Hamburg"]}

In [13]:
GermanCities=pd.DataFrame(my_dict)

In [14]:
print(GermanCities)

   capital     city
0  Primary   Berlin
1    Admin  Hamburg

In [15]:
import pandas as pd
data=pd.read_csv("Deutschland_Cities.csv",index_col=0)
print(data)

                            lat      lng  country iso2  \
city
Berlin                  52.5167  13.3833  Germany   DE
Hamburg                 53.5500  10.0000  Germany   DE
Munich                  48.1372  11.5755  Germany   DE
Cologne                 50.9422   6.9578  Germany   DE
Frankfurt               50.1136   8.6797  Germany   DE
...                         ...      ...      ...  ...
Rotenburg               53.0851   9.3879  Germany   DE
Karlstadt               49.9603   9.7724  Germany   DE
Neustadt                49.5656   8.8437  Germany   DE
Homberg                 51.0299   9.4026  Germany   DE
Garmisch-Partenkirchen  47.4985  11.1044  Germany   DE

                                    admin_name  capital  population  \
city
Berlin                                  Berlin  primary   3644826.0
Hamburg                                Hamburg    admin   1841179.0
Munich                                 Bavaria    admin   1471508.0
Cologne                 North Rhine-Westphalia      NaN   1085664.0
Frankfurt                                Hesse    minor    753056.0
...                                        ...      ...         ...
Rotenburg                         Lower Saxony    minor         NaN
Karlstadt                              Bavaria    minor         NaN
Neustadt                                 Hesse    minor         NaN
Homberg                                  Hesse    minor         NaN
Garmisch-Partenkirchen                 Bavaria    minor         NaN

                        population_proper
city
Berlin                          3644826.0
Hamburg                         1841179.0
Munich                          1471508.0
Cologne                         1085664.0
Frankfurt                        753056.0
...                                   ...
Rotenburg                             NaN
Karlstadt                             NaN
Neustadt                              NaN
Homberg                               NaN
Garmisch-Partenkirchen                NaN

[612 rows x 8 columns]

In [16]:
print(data.loc["Berlin"])

lat                    52.5167
lng                    13.3833
country                Germany
iso2                        DE
admin_name              Berlin
capital                primary
population           3644826.0
population_proper    3644826.0
Name: Berlin, dtype: object

In [17]:
print(data.iloc[:,1])

city
Berlin                    13.3833
Hamburg                   10.0000
Munich                    11.5755
Cologne                    6.9578
Frankfurt                  8.6797
                           ...
Rotenburg                  9.3879
Karlstadt                  9.7724
Neustadt                   8.8437
Homberg                    9.4026
Garmisch-Partenkirchen    11.1044
Name: lng, Length: 612, dtype: float64

In [18]:
print(data.iloc[:,3])

city
Berlin                    DE
Hamburg                   DE
Munich                    DE
Cologne                   DE
Frankfurt                 DE
                          ..
Rotenburg                 DE
Karlstadt                 DE
Neustadt                  DE
Homberg                   DE
Garmisch-Partenkirchen    DE
Name: iso2, Length: 612, dtype: object