In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("Data-Melbourne_F.csv")

In [3]:
data

,avg_outflow,avg_inflow,total_grid,Am,BOD,COD,TN,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,year,month,day
0,2.941,2.589,175856,27.0,365.0,730.0,60.378,19.3,25.1,12.6,0.0,56,1.52,10.0,26.9,53.5,79.5,2014,1,1
1,2.936,2.961,181624,25.0,370.0,740.0,60.026,17.1,23.6,12.3,0.0,63,0.00,10.0,14.4,27.8,0.0,2014,1,2
2,2.928,3.225,202016,42.0,418.0,836.0,64.522,16.8,27.2,8.8,0.0,47,0.25,10.0,31.9,61.1,77.8,2014,1,5
3,2.928,3.354,207547,36.0,430.0,850.0,63.000,14.6,19.9,11.1,0.0,49,0.00,10.0,27.0,38.9,53.5,2014,1,6
4,2.917,3.794,202824,46.0,508.0,1016.0,65.590,13.4,19.1,8.0,0.0,65,0.00,10.0,20.6,35.2,53.5,2014,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1377,5.068,4.716,305938,28.0,310.0,660.0,58.807,6.8,10.0,4.0,0.0,56,0.00,10.0,14.4,22.2,0.0,2019,6,20
1378,5.882,5.510,293446,40.0,250.0,700.0,60.671,7.6,16.0,3.0,0.0,71,0.00,0.0,13.5,25.9,0.0,2019,6,24
1379,4.638,4.811,307968,47.0,260.0,860.0,64.000,9.7,16.0,3.0,0.0,65,0.00,10.0,18.1,25.9,0.0,2019,6,25
1380,5.373,4.929,316675,46.0,300.0,900.0,62.479,10.9,17.0,5.0,0.0,65,0.00,10.0,21.9,35.2,51.9,2019,6,26
1381,4.072,5.194,318268,31.0,270.0,910.0,63.312,12.4,16.0,10.0,0.0,63,0.00,10.0,28.0,44.6,66.5,2019,6,27

In [4]:
data2=pd.read_csv("Data-Melbourne_F_fixed.csv")

In [5]:
data2

,Unnamed: 0,Average Outflow,Average Inflow,Energy Consumption,Ammonia,Biological Oxygen Demand,Chemical Oxygen Demand,Total Nitrogen,Average Temperature,Maximum temperature,Minimum temperature,Atmospheric pressure,Average humidity,Total rainfall,Average visibility,Average wind speed,Maximum wind speed,Year,Month,Day
0,0,2.941,2.589,175856.0,27.0,365.0,730.0,60.378,19.3,25.1,12.6,0.0,56.0,1.52,10.0,26.9,53.5,2014.0,1.0,1.0
1,1,2.936,2.961,181624.0,25.0,370.0,740.0,60.026,17.1,23.6,12.3,0.0,63.0,0.00,10.0,14.4,27.8,2014.0,1.0,2.0
2,2,2.928,3.225,202016.0,42.0,418.0,836.0,64.522,16.8,27.2,8.8,0.0,47.0,0.25,10.0,31.9,61.1,2014.0,1.0,5.0
3,3,2.928,3.354,207547.0,36.0,430.0,850.0,63.000,14.6,19.9,11.1,0.0,49.0,0.00,10.0,27.0,38.9,2014.0,1.0,6.0
4,4,2.917,3.794,202824.0,46.0,508.0,1016.0,65.590,13.4,19.1,8.0,0.0,65.0,0.00,10.0,20.6,35.2,2014.0,1.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1377,1377,5.068,4.716,305938.0,28.0,310.0,660.0,58.807,6.8,10.0,4.0,0.0,56.0,0.00,10.0,14.4,22.2,2019.0,6.0,20.0
1378,1378,5.882,5.510,293446.0,40.0,250.0,700.0,60.671,7.6,16.0,3.0,0.0,71.0,0.00,0.0,13.5,25.9,2019.0,6.0,24.0
1379,1379,4.638,4.811,307968.0,47.0,260.0,860.0,64.000,9.7,16.0,3.0,0.0,65.0,0.00,10.0,18.1,25.9,2019.0,6.0,25.0
1380,1380,5.373,4.929,316675.0,46.0,300.0,900.0,62.479,10.9,17.0,5.0,0.0,65.0,0.00,10.0,21.9,35.2,2019.0,6.0,26.0
1381,1381,4.072,5.194,318268.0,31.0,270.0,910.0,63.312,12.4,16.0,10.0,0.0,63.0,0.00,10.0,28.0,44.6,2019.0,6.0,27.0

In [6]:
data_data2=data.merge(data, on="year")
print(data_data2.head())

   avg_outflow_x  avg_inflow_x  total_grid_x  Am_x  BOD_x  COD_x    TN_x  \
0          2.941         2.589        175856  27.0  365.0  730.0  60.378
1          2.941         2.589        175856  27.0  365.0  730.0  60.378
2          2.941         2.589        175856  27.0  365.0  730.0  60.378
3          2.941         2.589        175856  27.0  365.0  730.0  60.378
4          2.941         2.589        175856  27.0  365.0  730.0  60.378

    T_x  TM_x  Tm_x  ...  Tm_y  SLP_y  H_y  PP_y  VV_y   V_y  VM_y  VG_y  \
0  19.3  25.1  12.6  ...  12.6    0.0   56  1.52  10.0  26.9  53.5  79.5
1  19.3  25.1  12.6  ...  12.3    0.0   63  0.00  10.0  14.4  27.8   0.0
2  19.3  25.1  12.6  ...   8.8    0.0   47  0.25  10.0  31.9  61.1  77.8
3  19.3  25.1  12.6  ...  11.1    0.0   49  0.00  10.0  27.0  38.9  53.5
4  19.3  25.1  12.6  ...   8.0    0.0   65  0.00  10.0  20.6  35.2  53.5

   month_y  day_y
0        1      1
1        1      2
2        1      5
3        1      6
4        1      7

[5 rows x 39 columns]

In [7]:
print(data_data2.columns)

Index(['avg_outflow_x', 'avg_inflow_x', 'total_grid_x', 'Am_x', 'BOD_x',
       'COD_x', 'TN_x', 'T_x', 'TM_x', 'Tm_x', 'SLP_x', 'H_x', 'PP_x', 'VV_x',
       'V_x', 'VM_x', 'VG_x', 'year', 'month_x', 'day_x', 'avg_outflow_y',
       'avg_inflow_y', 'total_grid_y', 'Am_y', 'BOD_y', 'COD_y', 'TN_y', 'T_y',
       'TM_y', 'Tm_y', 'SLP_y', 'H_y', 'PP_y', 'VV_y', 'V_y', 'VM_y', 'VG_y',
       'month_y', 'day_y'],
      dtype='object')

In [8]:
data_data2=data.merge(data, on=["year","month","day"])
print(data_data2)

      avg_outflow_x  avg_inflow_x  total_grid_x  Am_x  BOD_x   COD_x    TN_x  \
0             2.941         2.589        175856  27.0  365.0   730.0  60.378
1             2.936         2.961        181624  25.0  370.0   740.0  60.026
2             2.928         3.225        202016  42.0  418.0   836.0  64.522
3             2.928         3.354        207547  36.0  430.0   850.0  63.000
4             2.917         3.794        202824  46.0  508.0  1016.0  65.590
...             ...           ...           ...   ...    ...     ...     ...
1377          5.068         4.716        305938  28.0  310.0   660.0  58.807
1378          5.882         5.510        293446  40.0  250.0   700.0  60.671
1379          4.638         4.811        307968  47.0  260.0   860.0  64.000
1380          5.373         4.929        316675  46.0  300.0   900.0  62.479
1381          4.072         5.194        318268  31.0  270.0   910.0  63.312

       T_x  TM_x  Tm_x  ...   T_y  TM_y  Tm_y  SLP_y  H_y  PP_y  VV_y   V_y  \
0     19.3  25.1  12.6  ...  19.3  25.1  12.6    0.0   56  1.52  10.0  26.9
1     17.1  23.6  12.3  ...  17.1  23.6  12.3    0.0   63  0.00  10.0  14.4
2     16.8  27.2   8.8  ...  16.8  27.2   8.8    0.0   47  0.25  10.0  31.9
3     14.6  19.9  11.1  ...  14.6  19.9  11.1    0.0   49  0.00  10.0  27.0
4     13.4  19.1   8.0  ...  13.4  19.1   8.0    0.0   65  0.00  10.0  20.6
...    ...   ...   ...  ...   ...   ...   ...    ...  ...   ...   ...   ...
1377   6.8  10.0   4.0  ...   6.8  10.0   4.0    0.0   56  0.00  10.0  14.4
1378   7.6  16.0   3.0  ...   7.6  16.0   3.0    0.0   71  0.00   0.0  13.5
1379   9.7  16.0   3.0  ...   9.7  16.0   3.0    0.0   65  0.00  10.0  18.1
1380  10.9  17.0   5.0  ...  10.9  17.0   5.0    0.0   65  0.00  10.0  21.9
1381  12.4  16.0  10.0  ...  12.4  16.0  10.0    0.0   63  0.00  10.0  28.0

      VM_y  VG_y
0     53.5  79.5
1     27.8   0.0
2     61.1  77.8
3     38.9  53.5
4     35.2  53.5
...    ...   ...
1377  22.2   0.0
1378  25.9   0.0
1379  25.9   0.0
1380  35.2  51.9
1381  44.6  66.5

[1382 rows x 37 columns]