In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("500_Person_Gender_Height_Weight_Index.csv")

In [3]:
data

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [5]:
height_cm=[174,189,185,195,140,150,184,141,150,173]
np_height_cm=np.array(height_cm)
print(np_height_cm)

[174 189 185 195 140 150 184 141 150 173]

In [6]:
weight_lb=[96,87,110,104,61,153,121,136,95,131]
np_weight_lb=np.array(weight_lb)
print(np_weight_lb)

[ 96  87 110 104  61 153 121 136  95 131]

In [7]:
np_weight_kg=np_weight_lb/2.205
print(np_weight_kg)

[43.53741497 39.45578231 49.88662132 47.16553288 27.66439909 69.3877551
 54.87528345 61.67800454 43.08390023 59.41043084]

In [8]:
np_height_cm=np.array(height_cm)
np_weight_kg=np.array(weight_lb)/2.205
bmi=np_weight_kg/np_height_m**2*10000
print(bmi)

[14.38017405 11.04554249 14.57607635 12.40382193 14.11448933 30.83900227
 16.20843675 31.02359264 19.1484001  19.85045636]

In [11]:
np_height_cm=np.array(height_cm)
print(np_height_cm.shape)

(10,)

In [12]:
np_data=np.array(data)
print(np_data[10,:])

['Male' 195 81 2]

In [14]:
np_height_cm=np.array(height_cm)
print(np.mean(np_height_cm))

168.1

In [15]:
print(np.median(np_height_cm))

173.5

In [16]:
np_2d=np.array([[174,189,185,195],[97,87,110,104]])
np_2d

array([[174, 189, 185, 195],
       [ 97,  87, 110, 104]])

In [17]:
np_2d.shape

(2, 4)

In [18]:
height=[174,189,18,195]
np.mean(height)

144.0

In [19]:
height=[174,189,18,195]
np.median(height)

181.5

In [20]:
height=[174,189,18,195]
np.std(height)

73.14711204141965

In [21]:
np_height_cm=np.array(height_cm)
np_weight_lb=np.array(weight_lb)
meas=np.array([np_height_cm,np_weight_lb])
for val in meas:
    print(val)

[174 189 185 195 140 150 184 141 150 173]
[ 96  87 110 104  61 153 121 136  95 131]

In [22]:
np_height_cm=np.array(height_cm)
for x in np_height_cm:
    print(str(x)+"centimetres")

174centimetres
189centimetres
185centimetres
195centimetres
140centimetres
150centimetres
184centimetres
141centimetres
150centimetres
173centimetres

In [23]:
for val in data:
    print(val)

Gender
Height
Weight
Index

In [24]:
for lab, row in data.iterrows():
    print(lab)
    print(row)

0
Gender    Male
Height     174
Weight      96
Index        4
Name: 0, dtype: object
1
Gender    Male
Height     189
Weight      87
Index        2
Name: 1, dtype: object
2
Gender    Female
Height       185
Weight       110
Index          4
Name: 2, dtype: object
3
Gender    Female
Height       195
Weight       104
Index          3
Name: 3, dtype: object
4
Gender    Male
Height     149
Weight      61
Index        3
Name: 4, dtype: object
5
Gender    Male
Height     189
Weight     104
Index        3
Name: 5, dtype: object
6
Gender    Male
Height     147
Weight      92
Index        5
Name: 6, dtype: object
7
Gender    Male
Height     154
Weight     111
Index        5
Name: 7, dtype: object
8
Gender    Male
Height     174
Weight      90
Index        3
Name: 8, dtype: object
9
Gender    Female
Height       169
Weight       103
Index          4
Name: 9, dtype: object
10
Gender    Male
Height     195
Weight      81
Index        2
Name: 10, dtype: object
11
Gender    Female
Height       159
Weight        80
Index          4
Name: 11, dtype: object
12
Gender    Female
Height       192
Weight       101
Index          3
Name: 12, dtype: object
13
Gender    Male
Height     155
Weight      51
Index        2
Name: 13, dtype: object
14
Gender    Male
Height     191
Weight      79
Index        2
Name: 14, dtype: object
15
Gender    Female
Height       153
Weight       107
Index          5
Name: 15, dtype: object
16
Gender    Female
Height       157
Weight       110
Index          5
Name: 16, dtype: object
17
Gender    Male
Height     140
Weight     129
Index        5
Name: 17, dtype: object
18
Gender    Male
Height     144
Weight     145
Index        5
Name: 18, dtype: object
19
Gender    Male
Height     172
Weight     139
Index        5
Name: 19, dtype: object
20
Gender    Male
Height     157
Weight     110
Index        5
Name: 20, dtype: object
21
Gender    Female
Height       153
Weight       149
Index          5
Name: 21, dtype: object
22
Gender    Female
Height       169
Weight        97
Index          4
Name: 22, dtype: object
23
Gender    Male
Height     185
Weight     139
Index        5
Name: 23, dtype: object
24
Gender    Female
Height       172
Weight        67
Index          2
Name: 24, dtype: object
25
Gender    Female
Height       151
Weight        64
Index          3
Name: 25, dtype: object
26
Gender    Male
Height     190
Weight      95
Index        3
Name: 26, dtype: object
27
Gender    Male
Height     187
Weight      62
Index        1
Name: 27, dtype: object
28
Gender    Female
Height       163
Weight       159
Index          5
Name: 28, dtype: object
29
Gender    Male
Height     179
Weight     152
Index        5
Name: 29, dtype: object
30
Gender    Male
Height     153
Weight     121
Index        5
Name: 30, dtype: object
31
Gender    Male
Height     178
Weight      52
Index        1
Name: 31, dtype: object
32
Gender    Female
Height       195
Weight        65
Index          1
Name: 32, dtype: object
33
Gender    Female
Height       160
Weight       131
Index          5
Name: 33, dtype: object
34
Gender    Female
Height       157
Weight       153
Index          5
Name: 34, dtype: object
35
Gender    Female
Height       189
Weight       132
Index          4
Name: 35, dtype: object
36
Gender    Female
Height       197
Weight       114
Index          3
Name: 36, dtype: object
37
Gender    Male
Height     144
Weight      80
Index        4
Name: 37, dtype: object
38
Gender    Female
Height       171
Weight       152
Index          5
Name: 38, dtype: object
39
Gender    Female
Height       185
Weight        81
Index          2
Name: 39, dtype: object
40
Gender    Female
Height       175
Weight       120
Index          4
Name: 40, dtype: object
41
Gender    Female
Height       149
Weight       108
Index          5
Name: 41, dtype: object
42
Gender    Male
Height     157
Weight      56
Index        2
Name: 42, dtype: object
43
Gender    Male
Height     161
Weight     118
Index        5
Name: 43, dtype: object
44
Gender    Female
Height       182
Weight       126
Index          4
Name: 44, dtype: object
45
Gender    Male
Height     185
Weight      76
Index        2
Name: 45, dtype: object
46
Gender    Female
Height       188
Weight       122
Index          4
Name: 46, dtype: object
47
Gender    Male
Height     181
Weight     111
Index        4
Name: 47, dtype: object
48
Gender    Male
Height     161
Weight      72
Index        3
Name: 48, dtype: object
49
Gender    Male
Height     140
Weight     152
Index        5
Name: 49, dtype: object
50
Gender    Female
Height       168
Weight       135
Index          5
Name: 50, dtype: object
51
Gender    Female
Height       176
Weight        54
Index          1
Name: 51, dtype: object
52
Gender    Male
Height     163
Weight     110
Index        5
Name: 52, dtype: object
53
Gender    Male
Height     172
Weight     105
Index        4
Name: 53, dtype: object
54
Gender    Male
Height     196
Weight     116
Index        4
Name: 54, dtype: object
55
Gender    Female
Height       187
Weight        89
Index          3
Name: 55, dtype: object
56
Gender    Male
Height     172
Weight      92
Index        4
Name: 56, dtype: object
57
Gender    Male
Height     178
Weight     127
Index        5
Name: 57, dtype: object
58
Gender    Female
Height       164
Weight        70
Index          3
Name: 58, dtype: object
59
Gender    Male
Height     143
Weight      88
Index        5
Name: 59, dtype: object
60
Gender    Female
Height       191
Weight        54
Index          0
Name: 60, dtype: object
61
Gender    Female
Height       141
Weight       143
Index          5
Name: 61, dtype: object
62
Gender    Male
Height     193
Weight      54
Index        0
Name: 62, dtype: object
63
Gender    Male
Height     190
Weight      83
Index        2
Name: 63, dtype: object
64
Gender    Male
Height     175
Weight     135
Index        5
Name: 64, dtype: object
65
Gender    Female
Height       179
Weight       158
Index          5
Name: 65, dtype: object
66
Gender    Female
Height       172
Weight        96
Index          4
Name: 66, dtype: object
67
Gender    Female
Height       168
Weight        59
Index          2
Name: 67, dtype: object
68
Gender    Female
Height       164
Weight        82
Index          4
Name: 68, dtype: object
69
Gender    Female
Height       194
Weight       136
Index          4
Name: 69, dtype: object
70
Gender    Female
Height       153
Weight        51
Index          2
Name: 70, dtype: object
71
Gender    Male
Height     178
Weight     117
Index        4
Name: 71, dtype: object
72
Gender    Male
Height     141
Weight      80
Index        5
Name: 72, dtype: object
73
Gender    Male
Height     180
Weight      75
Index        2
Name: 73, dtype: object
74
Gender    Female
Height       185
Weight       100
Index          3
Name: 74, dtype: object
75
Gender    Female
Height       197
Weight       154
Index          4
Name: 75, dtype: object
76
Gender    Male
Height     165
Weight     104
Index        4
Name: 76, dtype: object
77
Gender    Female
Height       168
Weight        90
Index          4
Name: 77, dtype: object
78
Gender    Female
Height       176
Weight       122
Index          4
Name: 78, dtype: object
79
Gender    Male
Height     181
Weight      51
Index        0
Name: 79, dtype: object
80
Gender    Male
Height     164
Weight      75
Index        3
Name: 80, dtype: object
81
Gender    Female
Height       166
Weight       140
Index          5
Name: 81, dtype: object
82
Gender    Female
Height       190
Weight       105
Index          3
Name: 82, dtype: object
83
Gender    Male
Height     186
Weight     118
Index        4
Name: 83, dtype: object
84
Gender    Male
Height     168
Weight     123
Index        5
Name: 84, dtype: object
85
Gender    Male
Height     198
Weight      50
Index        0
Name: 85, dtype: object
86
Gender    Female
Height       175
Weight       141
Index          5
Name: 86, dtype: object
87
Gender    Male
Height     145
Weight     117
Index        5
Name: 87, dtype: object
88
Gender    Female
Height       159
Weight       104
Index          5
Name: 88, dtype: object
89
Gender    Female
Height       185
Weight       140
Index          5
Name: 89, dtype: object
90
Gender    Female
Height       178
Weight       154
Index          5
Name: 90, dtype: object
91
Gender    Female
Height       183
Weight        96
Index          3
Name: 91, dtype: object
92
Gender    Female
Height       194
Weight       111
Index          3
Name: 92, dtype: object
93
Gender    Male
Height     177
Weight      61
Index        2
Name: 93, dtype: object
94
Gender    Male
Height     197
Weight     119
Index        4
Name: 94, dtype: object
95
Gender    Female
Height       170
Weight       156
Index          5

Name: 95, dtype: object
96
Gender    Male
Height     142
Weight      69
Index        4
Name: 96, dtype: object
97
Gender    Male
Height     160
Weight     139
Index        5
Name: 97, dtype: object
98
Gender    Male
Height     195
Weight      69
Index        1
Name: 98, dtype: object
99
Gender    Female
Height       190
Weight        50
Index          0
Name: 99, dtype: object
100
Gender    Male
Height     199
Weight     156
Index        4
Name: 100, dtype: object
101
Gender    Male
Height     154
Weight     105
Index        5
Name: 101, dtype: object
102
Gender    Male
Height     161
Weight     155
Index        5
Name: 102, dtype: object
103
Gender    Female
Height       198
Weight       145
Index          4
Name: 103, dtype: object
104
Gender    Female
Height       192
Weight       140
Index          4
Name: 104, dtype: object
105
Gender    Male
Height     195
Weight     126
Index        4
Name: 105, dtype: object
106
Gender    Male
Height     166
Weight     160
Index        5
Name: 106, dtype: object
107
Gender    Male
Height     159
Weight     154
Index        5
Name: 107, dtype: object
108
Gender    Female
Height       181
Weight       106
Index          4
Name: 108, dtype: object
109
Gender    Male
Height     149
Weight      66
Index        3
Name: 109, dtype: object
110
Gender    Female
Height       150
Weight        70
Index          4
Name: 110, dtype: object
111
Gender    Female
Height       146
Weight       157
Index          5
Name: 111, dtype: object
112
Gender    Male
Height     190
Weight     135
Index        4
Name: 112, dtype: object
113
Gender    Female
Height       192
Weight        90
Index          2
Name: 113, dtype: object
114
Gender    Female
Height       177
Weight        96
Index          4
Name: 114, dtype: object
115
Gender    Male
Height     148
Weight      60
Index        3
Name: 115, dtype: object
116
Gender    Female
Height       165
Weight        57
Index          2
Name: 116, dtype: object
117
Gender    Female
Height       146
Weight       104
Index          5
Name: 117, dtype: object
118
Gender    Male
Height     144
Weight     108
Index        5
Name: 118, dtype: object
119
Gender    Female
Height       176
Weight       156
Index          5
Name: 119, dtype: object
120
Gender    Female
Height       168
Weight        87
Index          4
Name: 120, dtype: object
121
Gender    Male
Height     187
Weight     122
Index        4
Name: 121, dtype: object
122
Gender    Male
Height     187
Weight     138
Index        4
Name: 122, dtype: object
123
Gender    Female
Height       184
Weight       160
Index          5
Name: 123, dtype: object
124
Gender    Female
Height       158
Weight       149
Index          5
Name: 124, dtype: object
125
Gender    Male
Height     158
Weight      96
Index        4
Name: 125, dtype: object
126
Gender    Male
Height     194
Weight     115
Index        4
Name: 126, dtype: object
127
Gender    Female
Height       145
Weight        79
Index          4
Name: 127, dtype: object
128
Gender    Male
Height     182
Weight     151
Index        5
Name: 128, dtype: object
129
Gender    Male
Height     154
Weight      54
Index        2
Name: 129, dtype: object
130
Gender    Female
Height       168
Weight       139
Index          5
Name: 130, dtype: object
131
Gender    Female
Height       187
Weight        70
Index          2
Name: 131, dtype: object
132
Gender    Female
Height       158
Weight       153
Index          5
Name: 132, dtype: object
133
Gender    Female
Height       167
Weight       110
Index          4
Name: 133, dtype: object
134
Gender    Female
Height       171
Weight       155
Index          5
Name: 134, dtype: object
135
Gender    Female
Height       183
Weight       150
Index          5
Name: 135, dtype: object
136
Gender    Female
Height       190
Weight       156
Index          5
Name: 136, dtype: object
137
Gender    Male
Height     194
Weight     108
Index        3
Name: 137, dtype: object
138
Gender    Male
Height     171
Weight     147
Index        5
Name: 138, dtype: object
139
Gender    Male
Height     159
Weight     124
Index        5
Name: 139, dtype: object
140
Gender    Female
Height       169
Weight        54
Index          2
Name: 140, dtype: object
141
Gender    Female
Height       167
Weight        85
Index          4
Name: 141, dtype: object
142
Gender    Male
Height     180
Weight     149
Index        5
Name: 142, dtype: object
143
Gender    Male
Height     163
Weight     123
Index        5
Name: 143, dtype: object
144
Gender    Male
Height     140
Weight      79
Index        5
Name: 144, dtype: object
145
Gender    Male
Height     197
Weight     125
Index        4
Name: 145, dtype: object
146
Gender    Male
Height     194
Weight     106
Index        3
Name: 146, dtype: object
147
Gender    Female
Height       140
Weight       146
Index          5
Name: 147, dtype: object
148
Gender    Male
Height     195
Weight      98
Index        3
Name: 148, dtype: object
149
Gender    Female
Height       168
Weight       115
Index          3
Name: 149, dtype: object
150
Gender    Female
Height       196
Weight        50
Index          0
Name: 150, dtype: object
151
Gender    Male
Height     140
Weight      52
Index        3
Name: 151, dtype: object
152
Gender    Female
Height       150
Weight        60
Index          3
Name: 152, dtype: object
153
Gender    Female
Height       168
Weight       140
Index          5
Name: 153, dtype: object
154
Gender    Female
Height       155
Weight       111
Index          5
Name: 154, dtype: object
155
Gender    Female
Height       179
Weight       103
Index          4
Name: 155, dtype: object
156
Gender    Female
Height       182
Weight        84
Index          3
Name: 156, dtype: object
157
Gender    Male
Height     168
Weight     160
Index        5
Name: 157, dtype: object
158
Gender    Female
Height       187
Weight       102
Index          3
Name: 158, dtype: object
159
Gender    Male
Height     181
Weight     105
Index        4
Name: 159, dtype: object
160
Gender    Male
Height     199
Weight      99
Index        2
Name: 160, dtype: object
161
Gender    Female
Height       184
Weight        76
Index          2
Name: 161, dtype: object
162
Gender    Male
Height     192
Weight     101
Index        3
Name: 162, dtype: object
163
Gender    Female
Height       182
Weight       143
Index          5
Name: 163, dtype: object
164
Gender    Female
Height       172
Weight       111
Index          4
Name: 164, dtype: object
165
Gender    Male
Height     181
Weight      78
Index        2
Name: 165, dtype: object
166
Gender    Male
Height     176
Weight     109
Index        4
Name: 166, dtype: object
167
Gender    Female
Height       156
Weight       106
Index          5
Name: 167, dtype: object
168
Gender    Female
Height       151
Weight        67
Index          3
Name: 168, dtype: object
169
Gender    Female
Height       188
Weight        80
Index          2
Name: 169, dtype: object
170
Gender    Male
Height     187
Weight     136
Index        4
Name: 170, dtype: object
171
Gender    Male
Height     174
Weight     138
Index        5
Name: 171, dtype: object
172
Gender    Male
Height     167
Weight     151
Index        5
Name: 172, dtype: object
173
Gender    Female
Height       196
Weight       131
Index          4
Name: 173, dtype: object
174
Gender    Male
Height     197
Weight     149
Index        4
Name: 174, dtype: object
175
Gender    Female
Height       185
Weight       119
Index          4
Name: 175, dtype: object
176
Gender    Female
Height       170
Weight       102
Index          4
Name: 176, dtype: object
177
Gender    Female
Height       181
Weight        94
Index          3
Name: 177, dtype: object
178
Gender    Female
Height       166
Weight       126
Index          5
Name: 178, dtype: object
179
Gender    Male
Height     188
Weight     100
Index        3
Name: 179, dtype: object
180
Gender    Female
Height       162
Weight        74
Index          3
Name: 180, dtype: object
181
Gender    Male
Height     177
Weight     117
Index        4
Name: 181, dtype: object
182
Gender    Male
Height     162
Weight      97
Index        4
Name: 182, dtype: object
183
Gender    Male
Height     180
Weight      73
Index        2
Name: 183, dtype: object
184
Gender    Female
Height       192
Weight       108
Index          3
Name: 184, dtype: object
185
Gender    Male
Height     165
Weight      80
Index        3
Name: 185, dtype: object
186
Gender    Female
Height       167
Weight       135
Index          5
Name: 186, dtype: object
187
Gender    Female
Height       182
Weight        84
Index          3
Name: 187, dtype: object
188
Gender    Female
Height       161
Weight       134
Index          5
Name: 188, dtype: object
189
Gender    Male
Height     158
Weight      95
Index        4
Name: 189, dtype: object
190
Gender    Male
Height     141
Weight      85
Index        5
Name: 190, dtype: object
191
Gender    Male
Height     154
Weight     100
Index        5
Name: 191, dtype: object
192
Gender    Male
Height     165
Weight     105
Index        4
Name: 192, dtype: object
193
Gender    Female
Height       142
Weight       137
Index          5
Name: 193, dtype: object
194
Gender    Male
Height     141
Weight      94
Index        5
Name: 194, dtype: object
195
Gender    Male
Height     145
Weight     108
Index        5
Name: 195, dtype: object
196
Gender    Male
Height     157
Weight      74
Index        4
Name: 196, dtype: object
197
Gender    Female
Height       177
Weight       117
Index          4
Name: 197, dtype: object
198
Gender    Female
Height       166
Weight       144
Index          5
Name: 198, dtype: object
199
Gender    Male
Height     193
Weight     151
Index        5
Name: 199, dtype: object
200
Gender    Male
Height     184
Weight      57
Index        1
Name: 200, dtype: object
201
Gender    Male
Height     179
Weight      93
Index        3
Name: 201, dtype: object
202
Gender    Female
Height       156
Weight        89
Index          4
Name: 202, dtype: object
203
Gender    Male
Height     182
Weight     104
Index        4
Name: 203, dtype: object
204
Gender    Male
Height     145
Weight     160
Index        5
Name: 204, dtype: object
205
Gender    Female
Height       150
Weight        87
Index          4
Name: 205, dtype: object
206
Gender    Male
Height     145
Weight      99
Index        5
Name: 206, dtype: object
207
Gender    Female
Height       196
Weight       122
Index          4
Name: 207, dtype: object
208
Gender    Male
Height     191
Weight      96
Index        3
Name: 208, dtype: object
209
Gender    Female
Height       148
Weight        67
Index          4
Name: 209, dtype: object
210
Gender    Female
Height       150
Weight        84
Index          4
Name: 210, dtype: object
211
Gender    Male
Height     148
Weight     155
Index        5
Name: 211, dtype: object
212
Gender    Female
Height       153
Weight       146
Index          5
Name: 212, dtype: object
213
Gender    Female
Height       196
Weight       159
Index          5
Name: 213, dtype: object
214
Gender    Female
Height       185
Weight        52
Index          0
Name: 214, dtype: object
215
Gender    Female
Height       171
Weight       131
Index          5
Name: 215, dtype: object
216
Gender    Female
Height       143
Weight       118
Index          5
Name: 216, dtype: object
217
Gender    Female
Height       142
Weight        86
Index          5
Name: 217, dtype: object
218
Gender    Female
Height       141
Weight       126
Index          5
Name: 218, dtype: object
219
Gender    Male
Height     159
Weight     109
Index        5
Name: 219, dtype: object
220
Gender    Female
Height       173
Weight        82
Index          2
Name: 220, dtype: object
221
Gender    Male
Height     183
Weight     138
Index        5
Name: 221, dtype: object
222
Gender    Female
Height       152
Weight        90
Index          4
Name: 222, dtype: object
223
Gender    Male
Height     178
Weight     140
Index        5
Name: 223, dtype: object
224
Gender    Male
Height     188
Weight      54
Index        0
Name: 224, dtype: object
225
Gender    Female
Height       155
Weight       144
Index          5
Name: 225, dtype: object
226
Gender    Male
Height     166
Weight      70
Index        3
Name: 226, dtype: object
227
Gender    Male
Height     188
Weight     123
Index        4
Name: 227, dtype: object
228
Gender    Female
Height       171
Weight       120
Index          5
Name: 228, dtype: object
229
Gender    Male
Height     179
Weight     130
Index        5
Name: 229, dtype: object
230
Gender    Female
Height       186
Weight       137
Index          4
Name: 230, dtype: object
231
Gender    Female
Height       153
Weight        78
Index          2
Name: 231, dtype: object
232
Gender    Female
Height       184
Weight        86
Index          3
Name: 232, dtype: object
233
Gender    Female
Height       177
Weight        81
Index          3
Name: 233, dtype: object
234
Gender    Male
Height     145
Weight      78
Index        4
Name: 234, dtype: object
235
Gender    Male
Height     170
Weight      81
Index        3
Name: 235, dtype: object
236
Gender    Male
Height     181
Weight     141
Index        5
Name: 236, dtype: object
237
Gender    Male
Height     165
Weight     155
Index        5
Name: 237, dtype: object
238
Gender    Female
Height       174
Weight        65
Index          2
Name: 238, dtype: object
239
Gender    Female
Height       146
Weight       110
Index          5
Name: 239, dtype: object
240
Gender    Male
Height     178
Weight      85
Index        3
Name: 240, dtype: object
241
Gender    Male
Height     166
Weight      61
Index        2
Name: 241, dtype: object
242
Gender    Male
Height     191
Weight      62
Index        1
Name: 242, dtype: object
243
Gender    Female
Height       177
Weight       155
Index          5
Name: 243, dtype: object
244
Gender    Female
Height       183
Weight        50
Index          0
Name: 244, dtype: object
245
Gender    Male
Height     151
Weight     114
Index        5
Name: 245, dtype: object
246
Gender    Male
Height     182
Weight      98
Index        3
Name: 246, dtype: object
247
Gender    Female
Height       142
Weight       159
Index          5
Name: 247, dtype: object
248
Gender    Female
Height       188
Weight        90
Index          3
Name: 248, dtype: object
249
Gender    Male
Height     161
Weight      89
Index        4
Name: 249, dtype: object
250
Gender    Male
Height     153
Weight      70
Index        3
Name: 250, dtype: object
251
Gender    Male
Height     140
Weight     143
Index        5
Name: 251, dtype: object
252
Gender    Male
Height     169
Weight     141
Index        5
Name: 252, dtype: object
253
Gender    Female
Height       162
Weight       159
Index          5
Name: 253, dtype: object
254
Gender    Male
Height     183
Weight     147
Index        5
Name: 254, dtype: object
255
Gender    Female
Height       162
Weight        58
Index          2
Name: 255, dtype: object
256
Gender    Female
Height       172
Weight       109
Index          4
Name: 256, dtype: object
257
Gender    Female
Height       150
Weight       119
Index          5
Name: 257, dtype: object
258
Gender    Female
Height       169
Weight       145
Index          5
Name: 258, dtype: object
259
Gender    Female
Height       184
Weight       132
Index          4
Name: 259, dtype: object
260
Gender    Male
Height     159
Weight     104
Index        5
Name: 260, dtype: object
261
Gender    Male
Height     163
Weight     131
Index        5
Name: 261, dtype: object
262
Gender    Male
Height     156
Weight     137
Index        5
Name: 262, dtype: object
263
Gender    Female
Height       157
Weight        52
Index          2
Name: 263, dtype: object
264
Gender    Male
Height     147
Weight      84
Index        4
Name: 264, dtype: object
265
Gender    Male
Height     141
Weight      86
Index        5
Name: 265, dtype: object
266
Gender    Male
Height     173
Weight     139
Index        5
Name: 266, dtype: object
267
Gender    Male
Height     154
Weight     145
Index        5
Name: 267, dtype: object
268
Gender    Male
Height     168
Weight     148
Index        5
Name: 268, dtype: object
269
Gender    Male
Height     168
Weight      50
Index        1
Name: 269, dtype: object
270
Gender    Male
Height     145
Weight     130
Index        5
Name: 270, dtype: object
271
Gender    Male
Height     152
Weight     103
Index        5
Name: 271, dtype: object
272
Gender    Female
Height       187
Weight       121
Index          4
Name: 272, dtype: object
273
Gender    Female
Height       163
Weight        57
Index          0
Name: 273, dtype: object
274
Gender    Male
Height     178
Weight      83
Index        3
Name: 274, dtype: object
275
Gender    Female
Height       187
Weight        94
Index          3
Name: 275, dtype: object
276
Gender    Female
Height       179
Weight       114
Index          4
Name: 276, dtype: object
277
Gender    Male
Height     190
Weight      80
Index        2
Name: 277, dtype: object
278
Gender    Male
Height     172
Weight      75
Index        3
Name: 278, dtype: object
279
Gender    Male
Height     188
Weight      57
Index        1
Name: 279, dtype: object
280
Gender    Male
Height     193
Weight      65
Index        1
Name: 280, dtype: object
281
Gender    Female
Height       147
Weight       126
Index          5
Name: 281, dtype: object
282
Gender    Female
Height       147
Weight        94
Index          5
Name: 282, dtype: object
283
Gender    Male
Height     166
Weight     107
Index        4
Name: 283, dtype: object
284
Gender    Female
Height       192
Weight       139
Index          4
Name: 284, dtype: object
285
Gender    Male
Height     181
Weight     139
Index        4
Name: 285, dtype: object
286
Gender    Male
Height     150
Weight      74
Index        4
Name: 286, dtype: object
287
Gender    Male
Height     178
Weight     160
Index        5
Name: 287, dtype: object
288
Gender    Female
Height       156
Weight        52
Index          2
Name: 288, dtype: object
289
Gender    Male
Height     149
Weight     100
Index        5
Name: 289, dtype: object
290
Gender    Male
Height     156
Weight      74
Index        4
Name: 290, dtype: object
291
Gender    Male
Height     183
Weight     105
Index        3
Name: 291, dtype: object
292
Gender    Female
Height       162
Weight        68
Index          3
Name: 292, dtype: object
293
Gender    Female
Height       165
Weight        83
Index          4
Name: 293, dtype: object
294
Gender    Female
Height       168
Weight       143
Index          5
Name: 294, dtype: object
295
Gender    Male
Height     160
Weight     156
Index        5
Name: 295, dtype: object
296
Gender    Female
Height       169
Weight        88
Index          2
Name: 296, dtype: object
297
Gender    Female
Height       140
Weight        76
Index          4
Name: 297, dtype: object
298
Gender    Female
Height       187
Weight        92
Index          3
Name: 298, dtype: object
299
Gender    Male
Height     151
Weight      82
Index        4
Name: 299, dtype: object
300
Gender    Female
Height       186
Weight       140
Index          5
Name: 300, dtype: object
301
Gender    Male
Height     182
Weight     108
Index        4
Name: 301, dtype: object
302
Gender    Male
Height     188
Weight      81
Index        2
Name: 302, dtype: object
303
Gender    Male
Height     179
Weight     110
Index        4
Name: 303, dtype: object
304
Gender    Female
Height       156
Weight       126
Index          5
Name: 304, dtype: object
305
Gender    Male
Height     188
Weight     114
Index        4
Name: 305, dtype: object
306
Gender    Male
Height     183
Weight     153
Index        5
Name: 306, dtype: object
307
Gender    Male
Height     144
Weight      88
Index        5
Name: 307, dtype: object
308
Gender    Male
Height     196
Weight      69
Index        1
Name: 308, dtype: object
309
Gender    Male
Height     171
Weight     141
Index        5

Name: 309, dtype: object
310
Gender    Male
Height     171
Weight     147
Index        5
Name: 310, dtype: object
311
Gender    Female
Height       180
Weight       156
Index          5
Name: 311, dtype: object
312
Gender    Male
Height     191
Weight     146
Index        5
Name: 312, dtype: object
313
Gender    Female
Height       179
Weight        67
Index          2
Name: 313, dtype: object
314
Gender    Female
Height       180
Weight        60
Index          2
Name: 314, dtype: object
315
Gender    Female
Height       154
Weight       132
Index          5
Name: 315, dtype: object
316
Gender    Male
Height     188
Weight      99
Index        3
Name: 316, dtype: object
317
Gender    Male
Height     142
Weight     135
Index        5
Name: 317, dtype: object
318
Gender    Male
Height     170
Weight      95
Index        4
Name: 318, dtype: object
319
Gender    Male
Height     152
Weight     141
Index        5
Name: 319, dtype: object
320
Gender    Female
Height       190
Weight       118
Index          4
Name: 320, dtype: object
321
Gender    Female
Height       181
Weight       111
Index          4
Name: 321, dtype: object
322
Gender    Male
Height     153
Weight     104
Index        5
Name: 322, dtype: object
323
Gender    Male
Height     187
Weight     140
Index        5
Name: 323, dtype: object
324
Gender    Female
Height       144
Weight        66
Index          4
Name: 324, dtype: object
325
Gender    Female
Height       148
Weight        54
Index          2
Name: 325, dtype: object
326
Gender    Female
Height       199
Weight        92
Index          2
Name: 326, dtype: object
327
Gender    Female
Height       167
Weight        85
Index          4
Name: 327, dtype: object
328
Gender    Female
Height       164
Weight        71
Index          3
Name: 328, dtype: object
329
Gender    Female
Height       185
Weight       102
Index          3
Name: 329, dtype: object
330
Gender    Female
Height       164
Weight       160
Index          5
Name: 330, dtype: object
331
Gender    Male
Height     142
Weight      71
Index        4
Name: 331, dtype: object
332
Gender    Male
Height     165
Weight      68
Index        2
Name: 332, dtype: object
333
Gender    Female
Height       172
Weight        62
Index          2
Name: 333, dtype: object
334
Gender    Female
Height       157
Weight        56
Index          2
Name: 334, dtype: object
335
Gender    Male
Height     155
Weight      57
Index        2
Name: 335, dtype: object
336
Gender    Female
Height       167
Weight       153
Index          5
Name: 336, dtype: object
337
Gender    Female
Height       164
Weight       126
Index          5
Name: 337, dtype: object
338
Gender    Female
Height       189
Weight       125
Index          4
Name: 338, dtype: object
339
Gender    Female
Height       161
Weight       145
Index          5
Name: 339, dtype: object
340
Gender    Female
Height       155
Weight        71
Index          3
Name: 340, dtype: object
341
Gender    Female
Height       171
Weight       118
Index          4
Name: 341, dtype: object
342
Gender    Female
Height       154
Weight        92
Index          4
Name: 342, dtype: object
343
Gender    Male
Height     179
Weight      83
Index        3
Name: 343, dtype: object
344
Gender    Male
Height     170
Weight     115
Index        4
Name: 344, dtype: object
345
Gender    Female
Height       184
Weight       106
Index          4
Name: 345, dtype: object
346
Gender    Female
Height       191
Weight        68
Index          2
Name: 346, dtype: object
347
Gender    Male
Height     162
Weight      58
Index        2
Name: 347, dtype: object
348
Gender    Male
Height     178
Weight     138
Index        5
Name: 348, dtype: object
349
Gender    Female
Height       157
Weight        60
Index          2
Name: 349, dtype: object
350
Gender    Male
Height     184
Weight      83
Index        2
Name: 350, dtype: object
351
Gender    Male
Height     197
Weight      88
Index        2
Name: 351, dtype: object
352
Gender    Female
Height       160
Weight        51
Index          2
Name: 352, dtype: object
353
Gender    Male
Height     184
Weight     153
Index        5
Name: 353, dtype: object
354
Gender    Male
Height     190
Weight      50
Index        0
Name: 354, dtype: object
355
Gender    Male
Height     174
Weight      90
Index        3
Name: 355, dtype: object
356
Gender    Female
Height       189
Weight       124
Index          4
Name: 356, dtype: object
357
Gender    Female
Height       186
Weight       143
Index          5
Name: 357, dtype: object
358
Gender    Female
Height       180
Weight        58
Index          1
Name: 358, dtype: object
359
Gender    Female
Height       186
Weight       148
Index          4
Name: 359, dtype: object
360
Gender    Female
Height       193
Weight        61
Index          1
Name: 360, dtype: object
361
Gender    Male
Height     161
Weight     103
Index        4
Name: 361, dtype: object
362
Gender    Female
Height       151
Weight       158
Index          5
Name: 362, dtype: object
363
Gender    Female
Height       195
Weight       147
Index          4
Name: 363, dtype: object
364
Gender    Female
Height       184
Weight       152
Index          5
Name: 364, dtype: object
365
Gender    Male
Height     141
Weight      80
Index        5
Name: 365, dtype: object
366
Gender    Female
Height       185
Weight        94
Index          3
Name: 366, dtype: object
367
Gender    Female
Height       186
Weight       127
Index          4
Name: 367, dtype: object
368
Gender    Male
Height     142
Weight     131
Index        5
Name: 368, dtype: object
369
Gender    Female
Height       147
Weight        67
Index          4
Name: 369, dtype: object
370
Gender    Male
Height     151
Weight      62
Index        3
Name: 370, dtype: object
371
Gender    Female
Height       160
Weight       124
Index          5
Name: 371, dtype: object
372
Gender    Male
Height     185
Weight      60
Index        1
Name: 372, dtype: object
373
Gender    Female
Height       163
Weight        63
Index          2
Name: 373, dtype: object
374
Gender    Male
Height     174
Weight      95
Index        4
Name: 374, dtype: object
375
Gender    Female
Height       150
Weight       144
Index          5
Name: 375, dtype: object
376
Gender    Male
Height     142
Weight      91
Index        5
Name: 376, dtype: object
377
Gender    Male
Height     178
Weight     142
Index        5
Name: 377, dtype: object
378
Gender    Female
Height       154
Weight        96
Index          5
Name: 378, dtype: object
379
Gender    Male
Height     176
Weight      87
Index        3
Name: 379, dtype: object
380
Gender    Male
Height     159
Weight     120
Index        5
Name: 380, dtype: object
381
Gender    Male
Height     191
Weight      62
Index        1
Name: 381, dtype: object
382
Gender    Male
Height     177
Weight     117
Index        4
Name: 382, dtype: object
383
Gender    Male
Height     151
Weight     154
Index        5
Name: 383, dtype: object
384
Gender    Female
Height       182
Weight       149
Index          5
Name: 384, dtype: object
385
Gender    Female
Height       197
Weight        72
Index          2
Name: 385, dtype: object
386
Gender    Male
Height     146
Weight     138
Index        5
Name: 386, dtype: object
387
Gender    Female
Height       160
Weight        83
Index          4
Name: 387, dtype: object
388
Gender    Female
Height       157
Weight        66
Index          3
Name: 388, dtype: object
389
Gender    Female
Height       150
Weight        50
Index          2
Name: 389, dtype: object
390
Gender    Female
Height       167
Weight        58
Index          2
Name: 390, dtype: object
391
Gender    Female
Height       180
Weight        70
Index          2
Name: 391, dtype: object
392
Gender    Female
Height       183
Weight        76
Index          2
Name: 392, dtype: object
393
Gender    Female
Height       183
Weight        87
Index          3
Name: 393, dtype: object
394
Gender    Female
Height       152
Weight       154
Index          5
Name: 394, dtype: object
395
Gender    Female
Height       164
Weight        71
Index          3
Name: 395, dtype: object
396
Gender    Male
Height     187
Weight      96
Index        3
Name: 396, dtype: object
397
Gender    Male
Height     169
Weight     136
Index        5
Name: 397, dtype: object
398
Gender    Female
Height       149
Weight        61
Index          3
Name: 398, dtype: object
399
Gender    Male
Height     163
Weight     137
Index        5
Name: 399, dtype: object
400
Gender    Female
Height       195
Weight       104
Index          3
Name: 400, dtype: object
401
Gender    Male
Height     174
Weight     107
Index        4
Name: 401, dtype: object
402
Gender    Male
Height     182
Weight      70
Index        2
Name: 402, dtype: object
403
Gender    Male
Height     169
Weight     110
Index        4
Name: 403, dtype: object
404
Gender    Male
Height     193
Weight     130
Index        4
Name: 404, dtype: object
405
Gender    Male
Height     148
Weight     141
Index        5
Name: 405, dtype: object
406
Gender    Male
Height     186
Weight      68
Index        2
Name: 406, dtype: object
407
Gender    Male
Height     165
Weight     143
Index        5
Name: 407, dtype: object
408
Gender    Female
Height       146
Weight       123
Index          5
Name: 408, dtype: object
409
Gender    Female
Height       166
Weight       133
Index          5
Name: 409, dtype: object
410
Gender    Male
Height     179
Weight      56
Index        1
Name: 410, dtype: object
411
Gender    Female
Height       177
Weight       101
Index          4
Name: 411, dtype: object
412
Gender    Male
Height     181
Weight     154
Index        5
Name: 412, dtype: object
413
Gender    Female
Height       161
Weight       154
Index          5
Name: 413, dtype: object
414
Gender    Female
Height       157
Weight       103
Index          5
Name: 414, dtype: object
415
Gender    Female
Height       169
Weight        98
Index          4
Name: 415, dtype: object
416
Gender    Female
Height       152
Weight       114
Index          5
Name: 416, dtype: object
417
Gender    Female
Height       162
Weight        64
Index          2
Name: 417, dtype: object
418
Gender    Male
Height     162
Weight     130
Index        5
Name: 418, dtype: object
419
Gender    Female
Height       177
Weight        61
Index          2
Name: 419, dtype: object
420
Gender    Female
Height       195
Weight        61
Index          1
Name: 420, dtype: object
421
Gender    Male
Height     140
Weight     146
Index        5
Name: 421, dtype: object
422
Gender    Female
Height       186
Weight       146
Index          5
Name: 422, dtype: object
423
Gender    Female
Height       178
Weight       107
Index          4
Name: 423, dtype: object
424
Gender    Male
Height     174
Weight      54
Index        1
Name: 424, dtype: object
425
Gender    Female
Height       180
Weight        59
Index          1
Name: 425, dtype: object
426
Gender    Male
Height     188
Weight     141
Index        4
Name: 426, dtype: object
427
Gender    Female
Height       187
Weight       130
Index          4
Name: 427, dtype: object
428
Gender    Female
Height       153
Weight        77
Index          4
Name: 428, dtype: object
429
Gender    Female
Height       165
Weight        95
Index          4
Name: 429, dtype: object
430
Gender    Female
Height       178
Weight        79
Index          2
Name: 430, dtype: object
431
Gender    Female
Height       163
Weight       154
Index          5
Name: 431, dtype: object
432
Gender    Female
Height       150
Weight        97
Index          5
Name: 432, dtype: object
433
Gender    Male
Height     179
Weight     127
Index        4
Name: 433, dtype: object
434
Gender    Male
Height     165
Weight      62
Index        2
Name: 434, dtype: object
435
Gender    Male
Height     168
Weight     158
Index        5
Name: 435, dtype: object
436
Gender    Female
Height       153
Weight       133
Index          5
Name: 436, dtype: object
437
Gender    Male
Height     184
Weight     157
Index        5
Name: 437, dtype: object
438
Gender    Male
Height     188
Weight      65
Index        1
Name: 438, dtype: object
439
Gender    Female
Height       166
Weight       153
Index          5
Name: 439, dtype: object
440
Gender    Female
Height       172
Weight       116
Index          4
Name: 440, dtype: object
441
Gender    Male
Height     182
Weight      73
Index        2
Name: 441, dtype: object
442
Gender    Male
Height     143
Weight     149
Index        5
Name: 442, dtype: object
443
Gender    Male
Height     152
Weight     146
Index        5
Name: 443, dtype: object
444
Gender    Female
Height       186
Weight       128
Index          4

Name: 444, dtype: object
445
Gender    Male
Height     159
Weight     140
Index        5
Name: 445, dtype: object
446
Gender    Male
Height     146
Weight      70
Index        4
Name: 446, dtype: object
447
Gender    Female
Height       176
Weight       121
Index          4
Name: 447, dtype: object
448
Gender    Female
Height       146
Weight       101
Index          5
Name: 448, dtype: object
449
Gender    Male
Height     159
Weight     145
Index        5
Name: 449, dtype: object
450
Gender    Male
Height     162
Weight     157
Index        5
Name: 450, dtype: object
451
Gender    Female
Height       172
Weight        90
Index          4
Name: 451, dtype: object
452
Gender    Female
Height       169
Weight       121
Index          5
Name: 452, dtype: object
453
Gender    Male
Height     182
Weight      50
Index        0
Name: 453, dtype: object
454
Gender    Female
Height       183
Weight        79
Index          2
Name: 454, dtype: object
455
Gender    Male
Height     176
Weight      77
Index        2
Name: 455, dtype: object
456
Gender    Female
Height       188
Weight       128
Index          4
Name: 456, dtype: object
457
Gender    Female
Height       175
Weight        83
Index          2
Name: 457, dtype: object
458
Gender    Male
Height     154
Weight      81
Index        4
Name: 458, dtype: object
459
Gender    Female
Height       184
Weight       147
Index          5
Name: 459, dtype: object
460
Gender    Male
Height     179
Weight     123
Index        4
Name: 460, dtype: object
461
Gender    Male
Height     152
Weight     132
Index        5
Name: 461, dtype: object
462
Gender    Male
Height     179
Weight      56
Index        1
Name: 462, dtype: object
463
Gender    Female
Height       145
Weight       141
Index          5
Name: 463, dtype: object
464
Gender    Female
Height       181
Weight        80
Index          2
Name: 464, dtype: object
465
Gender    Male
Height     158
Weight     127
Index        5
Name: 465, dtype: object
466
Gender    Female
Height       188
Weight        99
Index          3
Name: 466, dtype: object
467
Gender    Male
Height     145
Weight     142
Index        5
Name: 467, dtype: object
468
Gender    Male
Height     161
Weight     115
Index        5
Name: 468, dtype: object
469
Gender    Male
Height     198
Weight     109
Index        3
Name: 469, dtype: object
470
Gender    Male
Height     147
Weight     142
Index        5
Name: 470, dtype: object
471
Gender    Male
Height     154
Weight     112
Index        5
Name: 471, dtype: object
472
Gender    Female
Height       178
Weight        65
Index          2
Name: 472, dtype: object
473
Gender    Male
Height     195
Weight     153
Index        5
Name: 473, dtype: object
474
Gender    Female
Height       167
Weight        79
Index          3
Name: 474, dtype: object
475
Gender    Male
Height     183
Weight     131
Index        4
Name: 475, dtype: object
476
Gender    Female
Height       164
Weight       142
Index          5
Name: 476, dtype: object
477
Gender    Male
Height     167
Weight      64
Index        2
Name: 477, dtype: object
478
Gender    Female
Height       151
Weight        55
Index          2
Name: 478, dtype: object
479
Gender    Female
Height       147
Weight       107
Index          5
Name: 479, dtype: object
480
Gender    Female
Height       155
Weight       115
Index          5
Name: 480, dtype: object
481
Gender    Female
Height       172
Weight       108
Index          4
Name: 481, dtype: object
482
Gender    Female
Height       142
Weight        86
Index          5
Name: 482, dtype: object
483
Gender    Male
Height     146
Weight      85
Index        4
Name: 483, dtype: object
484
Gender    Female
Height       188
Weight       115
Index          4
Name: 484, dtype: object
485
Gender    Male
Height     173
Weight     111
Index        4
Name: 485, dtype: object
486
Gender    Female
Height       160
Weight       109
Index          5
Name: 486, dtype: object
487
Gender    Male
Height     187
Weight      80
Index        2
Name: 487, dtype: object
488
Gender    Male
Height     198
Weight     136
Index        4
Name: 488, dtype: object
489
Gender    Female
Height       179
Weight       150
Index          5
Name: 489, dtype: object
490
Gender    Female
Height       164
Weight        59
Index          2
Name: 490, dtype: object
491
Gender    Female
Height       146
Weight       147
Index          5
Name: 491, dtype: object
492
Gender    Female
Height       198
Weight        50
Index          0
Name: 492, dtype: object
493
Gender    Female
Height       170
Weight        53
Index          1
Name: 493, dtype: object
494
Gender    Male
Height     152
Weight      98
Index        5
Name: 494, dtype: object
495
Gender    Female
Height       150
Weight       153
Index          5
Name: 495, dtype: object
496
Gender    Female
Height       184
Weight       121
Index          4
Name: 496, dtype: object
497
Gender    Female
Height       141
Weight       136
Index          5
Name: 497, dtype: object
498
Gender    Male
Height     150
Weight      95
Index        5
Name: 498, dtype: object
499
Gender    Male
Height     173
Weight     131
Index        5
Name: 499, dtype: object

In [26]:
import pandas as pd
data=pd.read_csv("500_Person_Gender_Height_Weight_Index.csv",index_col=0)
for lab, row in data.iterrows():
    print(lab +": "+ str(row["Weight"]))

Male: 96
Male: 87
Female: 110
Female: 104
Male: 61
Male: 104
Male: 92
Male: 111
Male: 90
Female: 103
Male: 81
Female: 80
Female: 101
Male: 51
Male: 79
Female: 107
Female: 110
Male: 129
Male: 145
Male: 139
Male: 110
Female: 149
Female: 97
Male: 139
Female: 67
Female: 64
Male: 95
Male: 62
Female: 159
Male: 152
Male: 121
Male: 52
Female: 65
Female: 131
Female: 153
Female: 132
Female: 114
Male: 80
Female: 152
Female: 81
Female: 120
Female: 108
Male: 56
Male: 118
Female: 126
Male: 76
Female: 122
Male: 111
Male: 72
Male: 152
Female: 135
Female: 54
Male: 110
Male: 105
Male: 116
Female: 89
Male: 92
Male: 127
Female: 70
Male: 88
Female: 54
Female: 143
Male: 54
Male: 83
Male: 135
Female: 158
Female: 96
Female: 59
Female: 82
Female: 136
Female: 51
Male: 117
Male: 80
Male: 75
Female: 100
Female: 154
Male: 104
Female: 90
Female: 122
Male: 51
Male: 75
Female: 140
Female: 105
Male: 118
Male: 123
Male: 50
Female: 141
Male: 117
Female: 104
Female: 140
Female: 154
Female: 96
Female: 111
Male: 61
Male: 119
Female: 156
Male: 69
Male: 139
Male: 69
Female: 50
Male: 156
Male: 105
Male: 155
Female: 145
Female: 140
Male: 126
Male: 160
Male: 154
Female: 106
Male: 66
Female: 70
Female: 157
Male: 135
Female: 90
Female: 96
Male: 60
Female: 57
Female: 104
Male: 108
Female: 156
Female: 87
Male: 122
Male: 138
Female: 160
Female: 149
Male: 96
Male: 115
Female: 79
Male: 151
Male: 54
Female: 139
Female: 70
Female: 153
Female: 110
Female: 155
Female: 150
Female: 156
Male: 108
Male: 147
Male: 124
Female: 54
Female: 85
Male: 149
Male: 123
Male: 79
Male: 125
Male: 106
Female: 146
Male: 98
Female: 115
Female: 50
Male: 52
Female: 60
Female: 140
Female: 111
Female: 103
Female: 84
Male: 160
Female: 102
Male: 105
Male: 99
Female: 76
Male: 101
Female: 143
Female: 111
Male: 78
Male: 109
Female: 106
Female: 67
Female: 80
Male: 136
Male: 138
Male: 151
Female: 131
Male: 149
Female: 119
Female: 102
Female: 94
Female: 126
Male: 100
Female: 74
Male: 117
Male: 97
Male: 73
Female: 108
Male: 80
Female: 135
Female: 84
Female: 134
Male: 95
Male: 85
Male: 100
Male: 105
Female: 137
Male: 94
Male: 108
Male: 74
Female: 117
Female: 144
Male: 151
Male: 57
Male: 93
Female: 89
Male: 104
Male: 160
Female: 87
Male: 99
Female: 122
Male: 96
Female: 67
Female: 84
Male: 155
Female: 146
Female: 159
Female: 52
Female: 131
Female: 118
Female: 86
Female: 126
Male: 109
Female: 82
Male: 138
Female: 90
Male: 140
Male: 54
Female: 144
Male: 70
Male: 123
Female: 120
Male: 130
Female: 137
Female: 78
Female: 86
Female: 81
Male: 78
Male: 81
Male: 141
Male: 155
Female: 65
Female: 110
Male: 85
Male: 61
Male: 62
Female: 155
Female: 50
Male: 114
Male: 98
Female: 159
Female: 90
Male: 89
Male: 70
Male: 143
Male: 141
Female: 159
Male: 147
Female: 58
Female: 109
Female: 119
Female: 145
Female: 132
Male: 104
Male: 131
Male: 137
Female: 52
Male: 84
Male: 86
Male: 139
Male: 145
Male: 148
Male: 50
Male: 130
Male: 103
Female: 121
Female: 57
Male: 83
Female: 94
Female: 114
Male: 80
Male: 75
Male: 57
Male: 65
Female: 126
Female: 94
Male: 107
Female: 139
Male: 139
Male: 74
Male: 160
Female: 52
Male: 100
Male: 74
Male: 105
Female: 68
Female: 83
Female: 143
Male: 156
Female: 88
Female: 76
Female: 92
Male: 82
Female: 140
Male: 108
Male: 81
Male: 110
Female: 126
Male: 114
Male: 153
Male: 88
Male: 69
Male: 141
Male: 147
Female: 156
Male: 146
Female: 67
Female: 60
Female: 132
Male: 99
Male: 135
Male: 95
Male: 141
Female: 118
Female: 111
Male: 104
Male: 140
Female: 66
Female: 54
Female: 92
Female: 85
Female: 71
Female: 102
Female: 160
Male: 71
Male: 68
Female: 62
Female: 56
Male: 57
Female: 153
Female: 126
Female: 125
Female: 145
Female: 71
Female: 118
Female: 92
Male: 83
Male: 115
Female: 106
Female: 68
Male: 58
Male: 138
Female: 60
Male: 83
Male: 88
Female: 51
Male: 153
Male: 50
Male: 90
Female: 124
Female: 143
Female: 58
Female: 148
Female: 61
Male: 103
Female: 158
Female: 147
Female: 152
Male: 80
Female: 94
Female: 127
Male: 131
Female: 67
Male: 62
Female: 124
Male: 60
Female: 63
Male: 95
Female: 144
Male: 91
Male: 142
Female: 96
Male: 87
Male: 120
Male: 62
Male: 117
Male: 154
Female: 149
Female: 72
Male: 138
Female: 83
Female: 66
Female: 50
Female: 58
Female: 70
Female: 76
Female: 87
Female: 154
Female: 71
Male: 96
Male: 136
Female: 61
Male: 137
Female: 104
Male: 107
Male: 70
Male: 110
Male: 130
Male: 141
Male: 68
Male: 143
Female: 123
Female: 133
Male: 56
Female: 101
Male: 154
Female: 154
Female: 103
Female: 98
Female: 114
Female: 64
Male: 130
Female: 61
Female: 61
Male: 146
Female: 146
Female: 107
Male: 54
Female: 59
Male: 141
Female: 130
Female: 77
Female: 95
Female: 79
Female: 154
Female: 97
Male: 127
Male: 62
Male: 158
Female: 133
Male: 157
Male: 65
Female: 153
Female: 116
Male: 73
Male: 149
Male: 146
Female: 128
Male: 140
Male: 70
Female: 121
Female: 101
Male: 145
Male: 157
Female: 90
Female: 121
Male: 50
Female: 79
Male: 77
Female: 128
Female: 83
Male: 81
Female: 147
Male: 123
Male: 132
Male: 56
Female: 141
Female: 80
Male: 127
Female: 99
Male: 142
Male: 115
Male: 109
Male: 142
Male: 112
Female: 65
Male: 153
Female: 79
Male: 131
Female: 142
Male: 64
Female: 55
Female: 107
Female: 115
Female: 108
Female: 86
Male: 85
Female: 115
Male: 111
Female: 109
Male: 80
Male: 136
Female: 150
Female: 59
Female: 147
Female: 50
Female: 53
Male: 98
Female: 153
Female: 121
Female: 136
Male: 95
Male: 131